<div style= "padding-top: 1%;padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;" >

THIS IS USER LANDING PAGE

</br></br></br>
New User Registration</br>
<input ng-model = "userCtrl.user.name" type="text" placeholder="Enter your name">
<input ng-model = "userCtrl.user.username" type="text" placeholder="Enter your username"></br>
<input ng-model = "userCtrl.user.email" type="text" placeholder="Enter your email">
<input ng-model = "userCtrl.user.password" type="password" placeholder="Enter your password"></br>
<button ng-click="registerUser()" ng-disabled="!(userCtrl.user.name && userCtrl.user.username && userCtrl.user.email && userCtrl.user.password)">Register</button>


</div>

<!-- ng-disabled="!(userCtrl.user.name && userCtrl.user.username && userCtrl.user.email && userCtrl.user.password)" -->