
</br>
</br>
<div  align="center" data-ng-init="liveNiftyAndSensex()">
<!-- check: {{response}} -->
<marquee behavior=scroll scrollamount="5" align="center" bgcolor="black" direction="left" width="90%" height="23" >
<strong > <font color="#ffffff" size="+1">{{response[0].t}}</font><font color="red" size="+1"> {{response[0].l}}</font><font color="red"> {{response[0].c}} ({{response[0].cp}}%)</font></strong>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<strong > <font color="#ffffff" size="+1">{{response[1].t}}</font><font color="red" size="+1"> {{response[1].l}}</font><font color="red"> {{response[1].c}} ({{response[1].cp}}%)</font></strong>
</marquee>
</font>
</div>


<section class="activityListing blockListing">
	<div style="padding-top:2%; margin-left: 38%;" class="form-group">

		<table>
			<th style="width: 80%;">
				<div >
					<textarea class="form-control" rows="2" id="comment" ng-model="postCtrl.post.text" placeholder="Start Posting..." ></textarea>
				</div>
			</th>
			<th>
				<div><button class="btn btn-primary"  style="height: 53px; margin-top: 18px;
					margin-left: 11px;" ng-click="createPost()" ng-disabled="!postCtrl.post.text">POST</button></div>
				</th>
			</table>
		</div>
		<div class="container">
			<div class="blockTitle">
				<h2 ng-if="postCtrl.allPost.length > 0" >Threads</h2>
				<h2 ng-if="postCtrl.allPost.length === 0" >No threads to display</h2>
			</div>
			<div class="filter" ng-if="postCtrl.allPost.length > 0">
				<h5>Filter Threads</h5>
				<select class="proDropdownMenu" ng-model = selected data-ng-change="applyFilter(selected)" >
					<option><a href="javascript:void(0);"> Latest</a></option>
					<option><a href="javascript:void(0);">Popular</a></option>
				</select>
			</div></br>

			<div class="blockListingLeft" data-ng-repeat="post in postCtrl.allPost">
				<div class="frow">
					<div class="MainactivityBlock wow fadeInUp">
						<div class="actContent">
							<div class="actTitle" ui-sref = "post-detail({id: post._id})">
								{{post.text}}
							</div>
							<div class="actBottom">

								<div class="rgtBx likes">
									<i class="fa fa-thumbs-up" data-ng-click="likePost(post._id)"></i>
									<div class="nuPt">{{post.like.count}}</div>
									<div class="sbHed">Likes</div>
								</div>
								<div class="rgtBx credits">
									<i class="fa fa-flag" aria-hidden="true" data-ng-click="offencePost(post._id)"></i>
									<div class="nuPt">{{post.offensive.count}}</div>
									<div class="sbHed">Offensive</div>
								</div>
								<div class="rgtBx registerd" ui-sref = "post-detail({'id': post._id})">
									<i class="fa fa-comments-o"></i>
									<div class="nuPt">{{post.commentCount}}</div>
									<div class="sbHed">Comments</div>
								</div>

								<div class="rgtBx registerd" data-ng-init="isRating = 0">
								<i class="fa fa-star" aria-hidden="true" style="color: #d4b720;" data-ng-click="isRating = 1;ratePost(post._id)"></i>
								<i class="fa fa-star" aria-hidden="true" style="color: #d4b720; " data-ng-click="isRating = 2"></i>
								<i class="fa fa-star" aria-hidden="true" style="color: #d4b720;"
								data-ng-click="isRating = 3"></i>
								<i class="fa fa-star" aria-hidden="true" style="color: #d4b720;" data-ng-click="isRating = 4"></i>
								<i class="fa fa-star" aria-hidden="true" style="color: #d4b720;" data-ng-click="isRating = 5"></i>
									<div class="nuPt" >{{isRating}}</div>
									<div class="sbHed">Rating</div>
								</div>



							</div>
						</div>

					</div>

				</div>
			</div>

		</section>
		





