<!doctype html>
<html ng-app="app">
   
   <head>
   <title>Message Board</title>>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
   </head>
   
   <body>
      <div>
         <label>Name:</label>
         <input type = "text" ng-model = "post" placeholder = "Create a new post">
         <hr />
         
         <h1>Hello {{post}}!</h1>
      </div>
      
   </body>
</html>