<div style= "padding-top: 1%;padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;" >



<h2>{{assetDetailCtrl.stockName}}</h2>

</br></br>
From: <input type="date" name="fromDate" ng-model="fromDate">
&emsp; To: <input type="date" name="toDate" ng-model="toDate">
&emsp; 
<button class="btn btn-primary" ng-click="stockDetails(assetDetailCtrl.datasetCode,fromDate,toDate)">Submit</button>
</br></br>
<table class="table table-striped table-hover table-inverse">
		<th> Date </th>
		<th> Open </th>
		<th> High </th>
		<th> Low </th>
		<th> Close </th>
		<th> Total Trade Qunatity </th>
		<tr  ng-repeat="data in assetDetailCtrl.assetDetails.dataset.data">
		<td>{{data[0]}}</td>
		<td>{{data[1]}}</td>
		<td>{{data[2]}}</td>		
		<td>{{data[3]}}</td>
		<td>{{data[5]}}</td>
		<td>{{data[6]}}</td>
		</tr>
</table>


</div>